:root {
    --gridColumns: 16;
    --gridRows: 16;
}
body {
    background-color: #305f72;
}
header {
    margin: 20px;
    padding: 10px;
    background-color: rgb(196, 163, 211);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
} 
#inputBar {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 200px;
    padding: 4px;
    background-color: rgb(196, 163, 211);
    border-radius: 8px;  
    font-size: 18px; 
}
#canvasSize {
    position: absolute;
    left: 100px;
    width: 40px;
    border-radius: 10px;
}
#enterBtn {
    position: absolute;
    left: 155px;
}
#pickColor {
    position: absolute;
    top: 2px;
    left: 240px;
}
#resetBtn {
    position: absolute;
    top: -35px;
    right: 20px;
    font-size: 14px;
}
#container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    grid-template-rows: repeat(var(--gridRows), 1fr);
    margin: 60px auto 30px auto;
    max-width: 600px;
    height: 500px;
    background-color:  #568ea6;
    border-radius: 8px;
}
.pixel {
    background-color: #d4d8ec48;
}
button:hover,
input:hover {
    box-shadow: 0px 0px 10px aliceblue;
}
#funBtn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 30px;
    box-shadow: 5px 5px 10px orange, 20px 20px 10px rgb(255, 166, 166);
    font-size: 14px;
} 